/* Css Reset */
* {
    margin: 0;
    padding: 0;
}

/* Css Variable */

:root {
    --navbar-height: 39px;
}

/* Navigation Bar */

#navbar {
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;    
}

#navbar::before {
    content: " ";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Logo & Image */

#logo {
    margin: 15px 20px;

}

#logo img {
    height: 60px;
    width: 60px;
    object-fit: contain;
    margin: 5px 5px;
}

/* Navigation Bar: List Styling */

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 20px 12px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home Section */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 525px;
    justify-content: center;
    align-items: center;
}
#home::before {
    content: " ";
    background: url(img/Eat-Background\ img.jpg) no-repeat center center/cover;
    background-size: 100% 100%;
    position: absolute;
    height: 720px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
    position: absolute;
    top: 125px;
}
#home .uptop {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
    position: absolute;
    top: 212px;
}
#home .uptopp {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
    position: absolute;
    top: 245px;
}

/* Services Section */

#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid rgb(201, 152, 152);
    padding: 34px;
    margin: 3px 6px;
    border-radius: 25px;
    background-color: #e9e6e6;
}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
}

/* Client-Section */

#client-section {
    position: relative;
    height: 344px;
}
#client-section::before {
    content: " ";
    position: absolute;
    background: url(/img/Background\ logo.avif) no-repeat center center/cover;
    width: 100%;
    height: 350px;
    z-index: -1;
    opacity: 0.4;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-items {
    padding: 34px;
}

#clients img {
    height: 144px;
}

/* Contact Us-Section */
#contact {
    position: relative;
}
#contact::before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(/img/contact-us-1908762_1920.png) no-repeat center center/cover ;
    z-index: -1;
    opacity: 0.3;
}
#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
}
#contact-box input, 
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 600px;
}
#contact-box label {
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

/* Footer-Section */

footer {
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Class */

.h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary {
    font-family: 'Bree Serif', serif;
    font-size: 2.1rem;
    padding: 12px;
}

.btn {
    padding: 5px 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: brown;
    color: white;
    margin: 10px;
    cursor: pointer;
    position: absolute;
    top: 277px;
    right: 915px
}

.center {
    text-align: center;
}